@import "./base.css";

// App.vue
#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    nav {
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  main {
    flex: 1 1 auto;

    & > section {
      max-width: 720px;
      margin: 0 auto;
    }
  }
}

// ModalWindow.vue
.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1001;
  }
}

.modal {
  .modal-body {
    flex: 1 1 auto;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;

  .modal-header-cross {
    position: relative;
    flex: 0 0 30px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: " ";
      width: 30px;
      height: 1px;
      background-color: black;
      z-index: 1002;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}