@import "./base.css";

// App.vue
#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    nav {
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  main {
    flex: 1 1 auto;

    & > section {
      max-width: 720px;
      margin: 0 auto;
    }
  }
}

// Basket.vue
.basket-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 15px;

  .basket-product {
    display: flex;
    flex-direction: column;

    .v-card-text {
      position: relative;
      height: 100px;
      overflow: hidden;
    }

    .v-card-actions {
      margin-top: auto;

      .basket-product-button-delete {
        color: red;
      }
    }
  }
}